<p id="notice"><%= notice %></p>

<h1>Fixed Deposit Rates</h1>

<table>
  <thead>
    <tr>
      <th>Fixed deposit investment</th>
      <th>Interest rate</th>
      <th>Start date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fixed_deposit_rates.each do |fixed_deposit_rate| %>
      <tr>
        <td><%= fixed_deposit_rate.fixed_deposit_investment %></td>
        <td><%= fixed_deposit_rate.interest_rate %></td>
        <td><%= fixed_deposit_rate.start_date %></td>
        <td><%= link_to 'Show', fixed_deposit_rate %></td>
        <td><%= link_to 'Edit', edit_fixed_deposit_rate_path(fixed_deposit_rate) %></td>
        <td><%= link_to 'Destroy', fixed_deposit_rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fixed Deposit Rate', new_fixed_deposit_rate_path %>
