<p id="notice"><%= notice %></p>

<h1>Purchased T Bills</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Principal pesewas</th>
      <th>Tenure</th>
      <th>Bank of ghana rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchased_t_bills.each do |purchased_t_bill| %>
      <tr>
        <td><%= purchased_t_bill.user %></td>
        <td><%= purchased_t_bill.principal_pesewas %></td>
        <td><%= purchased_t_bill.tenure %></td>
        <td><%= purchased_t_bill.bank_of_ghana_rate %></td>
        <td><%= link_to 'Show', purchased_t_bill %></td>
        <td><%= link_to 'Edit', edit_purchased_t_bill_path(purchased_t_bill) %></td>
        <td><%= link_to 'Destroy', purchased_t_bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchased T Bill', new_purchased_t_bill_path %>
