<h1>Welcome to Sprint</h1>


<h2>
  <%= form_tag root_path, :method => 'get', id: 'search-form' do %>
      <p>
        I want to invest
        <%= text_field_tag :search, params[:principal], placeholder: 'Principal' %>
        for this
        <%= text_field_tag :search, params[:period], placeholder: 'Period' %>
        days
        <%= submit_tag "Filter", :name => nil %>
      </p>
  <% end %>
</h2>

<h2>Fixed Deposit Investments</h2>
<table>
  <thead>
  <tr>
    <th>Investment</th>
    <th>Description</th>
    <th>Interest Rate</th>
  </tr>
  </thead>
  <tbody>
  <% @fixed_deposit_investments.each do |fixed_deposit_investment| %>
      <tr>
        <td>
          <%= link_to(fixed_deposit_investment, html_options = {}) do %>
              <%= fixed_deposit_investment.institution.name %>
              <br>
              <%= fixed_deposit_investment.name %>
          <% end %>
        </td>
        <td><span class="description"><%= fixed_deposit_investment.description %></span></td>
        <td><%= fixed_deposit_investment.interest_rate / 10000.0 %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h2>Mutual Funds</h2>
<table>
  <thead>
  <tr>
    <th>Investment</th>
    <th>Description</th>
    <th>Unit Price</th>
    <th>Yield To Date</th>
  </tr>
  </thead>
  <tbody>
  <% @mutual_funds.each do |mutual_fund| %>
      <tr>
        <td>
          <%= link_to(mutual_fund, html_options = {}) do %>
              <%= mutual_fund.institution.name %>
              <br>
              <%= mutual_fund.name %>
          <% end %>
        </td>
        <td><span class="description"><%= mutual_fund.description %></span></td>
        <td><%= mutual_fund.unit_price %></td>
        <td><%= mutual_fund.yield_to_date / 10000.0 %></td>
      </tr>
  <% end %>
  </tbody>
</table>
