<div class="mdl-grid portfolio-max-width">
  <div class="mdl-cell mdl-cell--12-col">
    <h2>Fixed Deposit Investments</h2>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Investment</th>
        <th class="mdl-data-table__cell--non-numeric">Description</th>
        <th>Interest Rate (%)</th>
      </tr>
      </thead>
      <tbody>
      <% @fixed_deposit_investments.each do |fixed_deposit_investment| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <%= link_to(fixed_deposit_investment, html_options = {}) do %>
                  <%= fixed_deposit_investment.institution.name %>
                  <br>
                  <%= fixed_deposit_investment.name %>
              <% end %>
            </td>
            <td class="mdl-data-table__cell--non-numeric"><span class="description"><%= fixed_deposit_investment.description %></span></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <h2>Mutual Funds</h2>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Investment</th>
        <th class="mdl-data-table__cell--non-numeric">Description</th>
        <th>Unit Price (GHS)</th>
        <th>Yield To Date (%)</th>
      </tr>
      </thead>
      <tbody>
      <% @mutual_funds.each do |mutual_fund| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <%= link_to(mutual_fund, html_options = {}) do %>
                  <%= mutual_fund.institution.name %>
                  <br>
                  <%= mutual_fund.name %>
              <% end %>
            </td>
            <td  class="mdl-data-table__cell--non-numeric"><span class="description"><%= mutual_fund.description %></span></td>
            <td><%= mutual_fund.unit_price %></td>
            <td><%= mutual_fund.yield_to_date / 10000.0 %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>