<%= form_for(saved_t_bill) do |f| %>
  <% if saved_t_bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(saved_t_bill.errors.count, "error") %> prohibited this saved_t_bill from being saved:</h2>

      <ul>
      <% saved_t_bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :principal_pesewas %>
    <%= f.number_field :principal_pesewas %>
  </div>

  <div class="field">
    <%= f.label :tenure %>
    <%= f.number_field :tenure %>
  </div>

  <div class="field">
    <%= f.label :bank_of_ghana_rate_id %>
    <%= f.text_field :bank_of_ghana_rate_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
