<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @saved_t_bill.user %>
</p>

<p>
  <strong>Principal pesewas:</strong>
  <%= @saved_t_bill.principal_pesewas %>
</p>

<p>
  <strong>Tenure:</strong>
  <%= @saved_t_bill.tenure %>
</p>

<p>
  <strong>Bank of ghana rate:</strong>
  <%= @saved_t_bill.bank_of_ghana_rate %>
</p>

<%= link_to 'Edit', edit_saved_t_bill_path(@saved_t_bill) %> |
<%= link_to 'Back', saved_t_bills_path %>
