<div class="container">

  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <br />
      <br />
      <br />
      <br />
      <div class="text-center">
        <h3>Mutual Funds</h3>
      </div>
      <br />
    </div>
  </div>

  <div class="row">
    <!--First columnn-->
    <div class="col-lg-12 col-sm-12">
      <!--Card-->
      <div class="list-group">
        <% @mutual_funds.each do |mutual_fund| %>
            <%= link_to(mutual_fund, class: 'list-group-item list-group-item-action flex-column align-items-start') do %>
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">
                    <%= mutual_fund.name %>
                  </h5>
                  <small class="text-muted">
                    <%= mutual_fund.institution.name %>
                  </small>
                </div>
                <p class="mb-1">
                  <%= mutual_fund.description %>
                </p>
                <small class="text-muted">
                  Unit price: GHS<%= mutual_fund.unit_price %>
                  &nbsp;
                  YTD: <%= mutual_fund.yield_to_date %>%
                </small>
            <% end %>
        <% end %>
      </div>
      <!--/.Card-->
    </div>
    <!--First columnn-->
  </div>

</div>





