<p id="notice"><%= notice %></p>

<p>
  <strong>Institution:</strong>
  <%= @mutual_fund.institution %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mutual_fund.name %>
</p>

<p>
  <strong>Minimum principal pesewas:</strong>
  <%= @mutual_fund.minimum_principal_pesewas %>
</p>

<p>
  <strong>Debit order pesewas:</strong>
  <%= @mutual_fund.debit_order_pesewas %>
</p>

<p>
  <strong>Management fee rate:</strong>
  <%= @mutual_fund.management_fee_rate %>
</p>

<p>
  <strong>Min days before withdrawal:</strong>
  <%= @mutual_fund.min_days_before_withdrawal %>
</p>

<p>
  <strong>Risk rating:</strong>
  <%= @mutual_fund.risk_rating %>
</p>

<p>
  <strong>Links:</strong>
  <%= @mutual_fund.links %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mutual_fund.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @mutual_fund.phone_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mutual_fund.description %>
</p>

<p>
  <%= link_to 'Purchase', mutual_funds_path %>
</p>

<br>

<%= link_to 'Edit', edit_mutual_fund_path(@mutual_fund) %> |
<%= link_to 'Back', mutual_funds_path %>
