<%= form_for(bank_of_ghana_rate) do |f| %>
  <% if bank_of_ghana_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bank_of_ghana_rate.errors.count, "error") %> prohibited this bank_of_ghana_rate from being saved:</h2>

      <ul>
      <% bank_of_ghana_rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :discount_rate_91_days %>
    <%= f.number_field :discount_rate_91_days %>
  </div>

  <div class="field">
    <%= f.label :interest_rate_91_days %>
    <%= f.number_field :interest_rate_91_days %>
  </div>

  <div class="field">
    <%= f.label :discount_rate_182_days %>
    <%= f.number_field :discount_rate_182_days %>
  </div>

  <div class="field">
    <%= f.label :interest_rate_182_days %>
    <%= f.number_field :interest_rate_182_days %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
