<div class="mdl-grid portfolio-max-width">
  <div class="mdl-cell mdl-cell--12-col">
    <h2>Fixed Deposit Investments</h2>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Investment</th>
        <th class="mdl-data-table__cell--non-numeric">Description</th>
        <th>Interest Rate (%)</th>
      </tr>
      </thead>
      <tbody>
      <% @fixed_deposit_investments.each do |fixed_deposit_investment| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <%= link_to(fixed_deposit_investment, html_options = {}) do %>
                  <%= fixed_deposit_investment.institution.name %>
                  <br>
                  <%= fixed_deposit_investment.name %>
              <% end %>
            </td>
            <td class="mdl-data-table__cell--non-numeric description"><%= fixed_deposit_investment.description %></td>
            <td><%= fixed_deposit_investment.interest_rate %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>