<p id="notice"><%= notice %></p>

<h1>Fixed Deposit Investments</h1>

<table>
  <thead>
    <tr>
      <th>Institution</th>
      <th>Name</th>
      <th>Description</th>
      <th>Tenure</th>
      <th>Minimum principal pesewas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fixed_deposit_investments.each do |fixed_deposit_investment| %>
      <tr>
        <td><%= fixed_deposit_investment.institution %></td>
        <td><%= fixed_deposit_investment.name %></td>
        <td><%= fixed_deposit_investment.description %></td>
        <td><%= fixed_deposit_investment.tenure %></td>
        <td><%= fixed_deposit_investment.minimum_principal_pesewas %></td>
        <td><%= link_to 'Show', fixed_deposit_investment %></td>
        <td><%= link_to 'Edit', edit_fixed_deposit_investment_path(fixed_deposit_investment) %></td>
        <td><%= link_to 'Destroy', fixed_deposit_investment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fixed Deposit Investment', new_fixed_deposit_investment_path %>
