<div class="container">

  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <br />
      <br />
      <br />
      <br />
      <div class="text-center">
        <h3>
          <%= @fixed_deposit_investment.institution.name %>
          <%= @fixed_deposit_investment.name %>
        </h3>
      </div>
      <br />
    </div>
  </div>

  <style>
    .card {
      margin-bottom: 3em;
    }
  </style>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <!--Panel-->
          <div class="card card-block">
            <h4 class="card-title">Description</h4>
            <p class="card-text">
              <%= @fixed_deposit_investment.description %>
            </p>
          </div>
          <!--/.Panel-->
        </div>
        <div class="col-md-6">
          <!--Panel-->
          <div class="card card-block">
            <h4 class="card-title">Details</h4>
            <p>
              <strong>Interest Rate:</strong>
              <%= @fixed_deposit_investment.interest_rate %>%
            </p>

            <p>
              <strong>Period in days:</strong>
              <%= @fixed_deposit_investment.period_in_days %>
            </p>

            <p>
              <strong>Risk rating:</strong>
              <%= @fixed_deposit_investment.risk_rating %>
            </p>

            <p class="text-muted">
              <small>Effective from <%= @fixed_deposit_investment.rate_date %>  to <%= @fixed_deposit_investment.rate_date + 5 %></small>
            </p>
          </div>
          <!--/.Panel-->
        </div>
        <div class="col-md-6">
          <!--Panel-->
          <div class="card card-block">
            <h4 class="card-title">Limitations & Fees</h4>
            <p>
              <strong>Min days before withdrawal:</strong>
              <%= @fixed_deposit_investment.period_in_days %>
            </p>

            <p>
              <strong>Minimum principal:</strong>
              GHS <%= @fixed_deposit_investment.minimum_principal %>
            </p>

          </div>
          <!--/.Panel-->
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!--Panel-->
      <div class="card card-block">
        <h4 class="card-title">Calculate Returns</h4>
        <div class="card-text">
          <div class="row">
            <div class="col-md-12">
              <svg fill="#3c4f74" viewBox="0 0 500 250" class="demo-graph">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chart"></use>
              </svg>
            </div>
            <div class="col-md-12">
              <p class="d-flex justify-content-between">
                <span>Final balance</span>
                GHS 234,345
              </p>
              <p class="d-flex justify-content-between">
                <span>Total deposits</span>
                GHS 234,345
              </p>
              <p class="d-flex justify-content-between">
                <span>Total interest</span>
                GHS 234,345
              </p>
            </div>

            <div class="col-md-12">
              <!--Naked Form-->
              <div class="md-form">
                <input type="number" id="principal" class="form-control">
                <label for="principal">Amount to purchase...</label>
              </div>

              <div class="md-form">
                <input type="number" id="deposits" class="form-control">
                <label for="deposits">Monthly Deposits</label>
              </div>

              <form class="range-field">
                <label for="duration">Duration</label>
                <input type="range" id="duration" class="form-control"
                       min="0" max="100" />
              </form>

              <p>
                Interest Rate: <strong>8%</strong>
              </p>

              <div class="text-center">
                <button class="btn btn-deep-purple">Calculate</button>
              </div>
              <!--Naked Form-->
            </div>
          </div>
        </div>
      </div>
      <!--/.Panel-->
    </div>
  </div>

</div>