<div class="container content">
  <div class="row">
    <% if flash[:notice] %>
        <div class="col-md-12">
          <div class="notice text-success text-center"><%= flash[:notice] %></div>
          <br>
        </div>
    <% end %>
    <div class="col-md-12">
      <%= render 'layouts/calculator_form' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <!--Description Card-->
      <div class="card wow fadeIn">

        <!--Card content-->
        <div class="card-block">
          <!--Title-->
          <h4 class="card-title">
            <%= @fixed_deposit_investment.name %>
          </h4>
          
          <!--Text-->
          <p class="card-text">
            <%= @fixed_deposit_investment.description %>
          </p>
        </div>
        <!--/.Card content-->

      </div>
      <!--/.Description Card-->

      <div class="row">
        <div class="col-md-6">
          <!--Details Card-->
          <div class="card wow fadeIn">

            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Details</h4>
              <!--Text-->
              <p class="card-text d-flex justify-content-between">
                <strong>Interest rate:</strong>
                <%= @fixed_deposit_investment.interest_rate %> %
              </p>

              <p class="card-text d-flex justify-content-between">
                <strong>Tenure:</strong>
                <%= @fixed_deposit_investment.period %>
              </p>
            </div>
            <!--/.Card content-->

          </div>
          <!--/.Details Card-->
        </div>

        <div class="col-md-6">
          <!--Limitations Card-->
          <div class="card wow fadeIn" data-wow-delay="0.2s">

            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Limitations & Fees</h4>
              <p class="d-flex justify-content-between">
                <strong>Minimum time before withdrawal:</strong>
                <%= @fixed_deposit_investment.period %>
              </p>

              <p class="d-flex justify-content-between">
                <strong>Minimum principal:</strong>
                GH₵ <%= @fixed_deposit_investment.minimum_principal %>
              </p>
            </div>
            <!--/.Card content-->

          </div>
          <!--/.Limitations Card-->
        </div>
      </div>

    </div>

    <div class="col-md-5">
      <!--Card-->
      <div class="card wow fadeIn investment" data-wow-delay="0.2s">

        <canvas id="myChart" class="demo-graph"></canvas>


        <!--Card content-->
        <div class="card-block text-center">
          <!--Title-->
          <h4 class="card-title">Returns</h4>
          <div>
            <p class="d-flex justify-content-between">
              <span>Final balance</span>
              <span>
                GH₵ <strong class="final_balance"></strong>
              </span>
            </p>
            <p class="d-flex justify-content-between">
              <span>Total deposits</span>
              <span>
                GH₵ <span class="total_deposits"></span>
              </span>
            </p>
            <p class="d-flex justify-content-between">
              <span>Total interest</span>
              <span>
                GH₵ <span class="total_interest"></span>
              </span>
            </p>
            <input type="hidden" name="annual_interest_rate" value="<%= @fixed_deposit_investment.interest_rate %>">
          </div>

          <h4 class="card-title">Risk</h4>
          <canvas class="risk-meter" id="foo"
                  data-risk-rating="<%= @fixed_deposit_investment.risk_rating %>"></canvas>
          <p>
            <strong><%= @fixed_deposit_investment.risk_label %></strong>
          </p>
        </div>
        <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 block-of-contents">
      <a href="/fixed_deposit_investments/<%= @fixed_deposit_investment.id %>/purchase" class="btn btn-info">
        Purchase
      </a>
    </div>
  </div>
</div>