<p id="notice"><%= notice %></p>

<p>
  <strong>Principal:</strong>
  <%= @t_bill.principal %>
</p>

<p>
  <strong>Tenure:</strong>
  <%= @t_bill.tenure %>
</p>

<%= link_to 'Edit', edit_t_bill_path(@t_bill) %> |
<%= link_to 'Back', t_bills_path %>
