<div class="card wow fadeIn">
  <div class="card-block">
    <h4 class="card-title text-center">
      How much and how long do you want to invest
    </h4>
    <form data-calculate-fixed_deposit-returns>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Principal</p>
          <input class="mdl-slider mdl-js-slider" type="range"
                 min="0" max="5000" step="10" value="<%= session[:principal] ||= 100 %>" tabindex="0" id="principal_slider">
          <div class="mdl-textfield mdl-js-textfield" id="principal_text">
            <input class="mdl-textfield__input" type="number" name="principal"
                   min="0" max="5000" step="10" value="<%= session[:principal] ||= 100 %>" id="inp_principal_text">
          </div>
        </div>

        <div class="col-md-12 text-center">
          <p>Monthly Deposits</p>
          <input class="mdl-slider mdl-js-slider" type="range"
                 min="0" max="500" step="10" value="<%= session[:deposits] ||= 10 %>" tabindex="0" id="deposits_slider">
          <div class="mdl-textfield mdl-js-textfield" id="deposits_text">
            <input class="mdl-textfield__input" type="number" name="deposits"
                   min="0" max="500" step="10" value="<%= session[:deposits] ||= 10 %>" id="inp_deposits_text">
          </div>
        </div>

        <div class="col-md-12 text-center">
          <p>Duration</p>
          <input class="mdl-slider mdl-js-slider" type="range"
                 min="1" max="12" step="1" value="<%= session[:duration] ||= 6 %>" tabindex="0" id="duration_slider">

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-3 text-center">
              <div class="mdl-textfield mdl-js-textfield" id="duration_text">
                <input class="mdl-textfield__input" type="number" name="duration"
                       min="1" max="12" step="1" value="<%= session[:duration] ||= 6 %>" id="inp_duration_text">
              </div>
            </div>
            <div class="col-sm-6 text-center">
              <div class="mdl-textfield" name="duration_multiplier" id="duration_multiplier">
                <% if session[:duration_multiplier] == '12' %>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-month">
                      <input type="radio" id="option-month" class="mdl-radio__button mdl-textfield__input" name="options" value="12" checked>
                      <span class="mdl-radio__label">months</span>
                    </label>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-year">
                      <input type="radio" id="option-year" class="mdl-radio__button mdl-textfield__input" name="options" value="1">
                      <span class="mdl-radio__label">years</span>
                    </label>
                <% else %>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-month">
                      <input type="radio" id="option-month" class="mdl-radio__button mdl-textfield__input" name="options" value="12">
                      <span class="mdl-radio__label">months</span>
                    </label>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-year">
                      <input type="radio" id="option-year" class="mdl-radio__button mdl-textfield__input" name="options" value="1" checked>
                      <span class="mdl-radio__label">years</span>
                    </label>
                <% end %>
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>