<div class="row">
  <% @fixed_deposit_investments.each do |fixed_deposit_investment| %>

      <div class="col-md-6">
        <div class="card investment d-flex flex-row">

          <div class="card-block unique-color white-text">
            <p><strong class="final_balance"></strong></p>
            <br>
            <br>
            <br>
            <p><%= fixed_deposit_investment.interest_rate %>%</p>
          </div>

          <div class="card-block">
            <p class="card-text truncate"><%= fixed_deposit_investment.name %></p>
            <p class="card-text truncate text-muted"><%= fixed_deposit_investment.institution.name %></p>
            <p class="card-texttruncate text-muted"><%= fixed_deposit_investment.risk_label %> risk</p>
            <input type="hidden" name="annual_interest_rate" value="<%= fixed_deposit_investment.interest_rate %>">
            <br>
          </div>

        </div>
      </div>

  <% end %>
</div>