<div class="">
  <%= form_tag "/#{path}/#{investment.id}/purchase", :method => 'post', id: 'purchase-form' do %>
      <h4 class="mdl-dialog__title">Purchase this investment</h4>
      <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= text_field_tag :principal, params[:principal], class: "mdl-textfield__input", pattern: "-?[0-9]*(\\.[0-9]+)?" %>
          <label class="mdl-textfield__label" for="principal">Amount to purchase...</label>
          <span class="mdl-textfield__error">Input is not a number!</span>
        </div>

        <br>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= text_field_tag :first_name, params[:first_name], class: "mdl-textfield__input" %>
          <label class="mdl-textfield__label" for="first_name">First Name...</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= text_field_tag :last_name, params[:last_name], class: "mdl-textfield__input" %>
          <label class="mdl-textfield__label" for="last_name">Last Name...</label>

        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= text_field_tag :phone_number, params[:phone_number], class: "mdl-textfield__input" %>
          <label class="mdl-textfield__label" for="phone_number">Phone Number...</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= email_field_tag :email, params[:email], class: "mdl-textfield__input" %>
          <label class="mdl-textfield__label" for="email">Email...</label>
        </div>

      </div>
      <div class="mdl-dialog__actions">
        <%= submit_tag "Purchase", :name => nil, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
        <button type="button" class="mdl-button close">Cancel</button>
      </div>
  <% end %>
</div>