<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>investxD</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

</head>

<body class="<%= controller_name %> <%= action_name %>">
<!-- Styles -->
<style>
  /* STYLES */

  html,
  body,
  .view {
    height: 100%;
  }

  /* Navigation*/

  .navbar {
    background-color: #3c4f74;
  }

  .scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }

  .top-nav-collapse {
    background-color: #3c4f74;
  }

  footer.page-footer {
    background-color: #3c4f74;
    margin-top: 2rem;
  }

  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: #1C2331;
    }
  }

  /*Call to action*/

  .flex-center {
    color: #fff;
  }

  .view {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Work/full page/img%20(2).jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /*Contact section*/

  #contact .fa {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #1C2331;
  }
</style>

<!--Navbar-->
<nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <%= image_tag 'logo1.png' %>
    </a>
    <%= render 'layouts/navigation' %>
  </div>
</nav>
<!--/.Navbar-->

<%= yield %>

<!--Footer-->
<footer class="page-footer center-on-small-only">

  <!--Footer Links-->
  <div class="container-fluid" id="about">
    <br/>
    <div class="row">

      <div class="col-lg-1 col-md-12 col-xs-12">
      </div>
      <!--First column-->
      <div class="col-lg-3 col-md-12 col-xs-12">
        <h5 class="title">About investXD</h5>
        <p>
          investXD is a startup aimed at promoting financial inclusion by making investment products accessible to
          anyone with an internet connection.
        </p>
        <p>
          We partner with financial institutions to make their products available through our platform and employ
          financial advisers to provide you with easy to understand explanations of these products.
        </p>
        <p>
          We built investXD because it makes investing simpler for us. We hope it makes it simple for you as well :)
        </p>
        <br/><br/>
      </div>
      <!--/.First column-->

      <div class="col-lg-8 col-md-12 col-xs-12" align="center">
        <div class="row">
          <div class="col-lg-6">
            <h5 class="title">Contact us</h5>
            <br/>
            <ul>
              <li class="wow fadeIn" data-wow-delay="0.2s"><i class="fa fa-map-marker teal-text"></i>
                <p>No. 32, Aluguntugui Street</p>
              </li>

              <li class="wow fadeIn" data-wow-delay="0.3s"><i class="fa fa-phone teal-text"></i>
                <p>+233 204 264 743</p>
              </li>

              <li class="wow fadeIn" data-wow-delay="0.4s"><i class="fa fa-envelope teal-text"></i>
                <p><a href="mailto:info@investxd.com" class="btn btn-success" rel="nofollow">Send
                  Message</a></p>
              </li>
            </ul>
            <br/>
          </div>
          <div class="col-lg-6">
            <h5 class="title">Connect with us</h5>
            <br/><br/><br/>
            <a href="">
              <%= image_tag 'fb.png', class: 'wow fadeIn', data: { 'wow-delay': '0.2s'} %>
            </a>

            <a target="_blank" href="https://twitter.com/investxd">
              <%= image_tag 'tw.png', class: 'wow fadeIn', data: { 'wow-delay': '0.3s'} %>
            </a>

            <a href="">
              <%= image_tag 'in.png', class: 'wow fadeIn', data: { 'wow-delay': '0.4s'} %>
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright: investXD

    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5921b5038028bb732704707a/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->

</body>
</html>